@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  color: rgb(90, 90, 90);
}

:root {
  --tamanho-header: 90px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 60px;
  --cor-principal: rgb(38, 127, 252);
  --cor-secundaria: rgb(90, 90, 90);
  --cor-fundo: whitesmoke;
  --cor-footer: rgb(38, 127, 252);
  --cor-texto-footer: #fff;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

/* HEADER */

.header {
  background-color: var(--cor-fundo);
  border-bottom: 2px solid var(--cor-principal);
  padding: 10px 0;
  /* Ajuste o padding para uniformidade */
  text-align: center;
  height: var(--tamanho-header);
  /* Utilize a variável global */
  display: flex;
  flex-direction: column;
  /* Organiza o conteúdo verticalmente */
  align-items: center;
  /* Centraliza os elementos horizontalmente */
  justify-content: center;
  /* Centraliza os elementos verticalmente */
}

.header .container {
  flex-direction: column;
  align-items: center;
}

.imgTitulo {
  position: absolute;
  top: -4%;
  left: -0.5%;
  width: 160px;
  height: auto;
  margin: 0 0 10px 0;
  /* Adicione espaçamento abaixo do logo */
}

.titulo {
  color: var(--cor-principal);
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  /* Espaço entre os itens */
  margin: 10px;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: var(--cor-secundaria);
  font-size: 19.5px;
  font-weight: 600;
  /* transition: color 0.3s ease; */
}

.navbar a:hover {
  color: var(--cor-principal);
  /* Adicione um efeito de hover */
  text-decoration: underline;
}

/* BANNER */

.banner {
  height: 450px;
  color: white;
  background-image: url('../assets/imgs/cavaloHomemHOME.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 34px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: var(--cor-fundo);
  padding: 10px;
}

.social .container {
  justify-content: center;
}

.social h4 {
  font-size: 30px;
  color: var(--cor-secundaria);
  text-align: justify;
}

.social p {
  font-size: 21px;
  text-align: justify;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
}

/* FOOTER */

.footer {
  background-color: var(--cor-footer);
  height: var(--tamanho-footer);
  color: white;
  display: flex;
  font-size: 14px;
  margin-top: 30px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: 480px;
  background-image: url('../assets/imgs/cavaloLOGIN_CADASTRO.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
  padding: 20px;
  text-align: center;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 40%;
  background-color: var(--cor-fundo);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--cor-principal);
  flex-direction: column;
  height: 300px;
  padding: 20px 0;
}

.cardCadastrar {
  width: 40%;
  background-color: var(--cor-fundo);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--cor-principal);
  flex-direction: column;
  height: 430px;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  color: var(--cor-principal);
}

.formulario input {
  border: 2px solid var(--cor-principal);
  text-align: center;
  border-radius: 8px;
  margin-bottom: 5px;
  width: 300px;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: red;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: whitesmoke;
  background-color: var(--cor-principal);
  width: 280px;
  height: 40px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* GUIA DE RAÇAS */


.guia h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--cor-principal);
  margin: 30px;
}

.racasContainer {
  display: flex;
  flex-wrap: wrap;
  /* Permite quebra de linha */
  align-items: center;
  /* Centraliza os contêineres no centro */
  gap: 15px;
  /* Espaço entre os contêineres */
  justify-content: center;

}

.raca {
  background-color: var(--cor-fundo);
  width: 30%;
  max-width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  color: var(--cor-secundaria);
  border: 2px solid var(--cor-principal);
  margin: 8px;
}

/* Remover estilos padrão de links */
.raca h3 a {
  color: var(--cor-secundaria);
  font-weight: 700;
  font-size: 20px;

}

/* Cor ao passar o mouse */
.raca h3 a:hover {
  color: var(--cor-principal);
  /* Cor desejada ao passar o mouse */
  text-decoration: underline;
  /* Opcional */
}

.raca p {
  font-size: 18px;
  color: var(--cor-secundaria);
}

.imgRaca {
  height: 100%;
  width: auto;
  max-width: 215px;
  border-radius: 8px;
  margin-bottom: 10px;
}


/* INFO RAÇAS */
.botaoVoltar {
  display: inline-block;
  padding: 15px;
  width: 100px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 3px;
}

.mainRacas {
  max-width: 900px;
  margin: -30px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.imgInfoRaca {
  height: 100%;
  width: auto;
  max-width: 500px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* CURIOSIDADES E INFORMAÇÕES */

.mainCuriosidades {
  max-width: 900px;
  margin: 23px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.mainCuriosidades h2 {
  padding-top: 25px;
}

.mainCuriosidades p {
  line-height: 1.5;
  text-indent: 20px;
}

.containerImgCuriosidades {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.imgCuriosidades {
  height: 100%;
  width: auto;
  max-width: 380px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* SOBRE MIM */

.mainSobreMim {
  max-width: 900px;
  margin: 23px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.mainSobreMim p {
  font-size: 20px;
  text-indent: 1em;
  text-align: justify;

}
.containerImgSobre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.imgSobreMim {
  height: 100%;
  width: auto;
  max-width: 450px;
  border-radius: 8px;
}


/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}